body {
    display: flex;
    justify-content: center;
    background-color: #111e2a;
    margin: 0;
}

.text {
    background: transparent;
    color: #c0c9e5;
    white-space: pre-line;
    font-family: "MyWebFont" monospace;
    display: block;
    font-size: 16px;
    padding: 32px;
    margin-top: 15vh;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.at:before {
    content: "@"
}

.unspaced {
    letter-spacing: -0.17em;
}

@media screen and (max-width: 992px) {
    body {
        display: block;
    }

    .text {
        font-size: 48px;
        padding: 24px;
        margin: auto;
    }

    .break {
        display: none;
    }
}